@import '../../styles/utils/colours';
@import '../../styles/utils/mixins';

$nav-height: 2em;
$footer-height: 2em;
$content-height: calc(100vh - #{$nav-height + $footer-height});
$col1-width: 33% !default;
$col2-width: 66% !default;

.layout {
  width: 100%;
}

.layout__header {
  height: 3em;
  line-height: 3em;
  font-size: 2em;
  color: #999999;
  background-color: #333333;
  border-top: 5px solid #ab2222;

}

.layout__content {
  min-height: $content-height;
  padding: 0 2.25%;

  &::before ,
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.layout__footer {
  padding: 0 2.25%;
  height: $footer-height;
  line-height: 2em;
}
